.AddProductTrue{
    transition: 1s ;
    position: fixed;
    top: 15px;
    width: 30%;
    opacity: 0.7;
}

.AddProductFalse{
  transition: 1s ;
}

.elementIn{
    margin: 15px;
    text-align: center;
}

.labelSize{
    text-align: center;
}
.next_true{
    background-color: rgb(140, 248, 140) !important;
}
.next_false{
    background-color: rgb(255, 148, 148) !important;
}

.boutonToUp{
    margin-top: 60px;
}
