.ligne{
    margin: 0px !important;
    border: 1px solid rgb(202, 202, 202);
    margin: 15px 5px 10px 5px !important;
}
.item{
    
    position: relative;
    top: 200px;
    background-color: rgba(255, 255, 255, 0.835);
    padding: 20px;
}

.name:first-letter{
	 text-transform: uppercase;
	}
 
.name {
	text-transform:lowercase
}

.text{
    margin-bottom: 10px;
}



.itemTrue{
    display: none !important;
}

.alert{
    position: fixed !important;
    top: 23%;
    left: 70%;
}