.entrer{
    position: absolute;
    top: 40%;
    left: 50%;
    color: rgb(126, 126, 126);
    font-size: 3em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        transition: 1s;
}

.entrer:hover{
    color: rgb(126, 126, 126);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    text-decoration: none;
}
.imageHome{
    width: 100%;
    margin: auto;
    height: 700px;
}